* {
  box-sizing: border-box;
}

h1 {
  font-size: 17.5px;
  margin-bottom: 15px;
  text-align: center;

}

div {
  margin: 2px;
  
  background-color: gray;
  position: relative;

}

p {
 
  width: 99%;

  margin-right: auto;
  margin-left: auto;
  font-size: 10px;
  color: black;
}
#p1{
  text-align: center;
  background-color: red;
  width: 30%;
  height: 20px;
  position: relative;
  left: 35%;
  top: -12px;
  font-size: 12.5px;
  border: 1px solid black;
}

#p2{
  text-align: center;
  background-color: orange;
  width: 30%;
  height: 20px;
  position: relative;
  left: 35%;
  top: -12px;
  font-size: 12.5px;
  border: 1px solid black;
}

#p3{
  text-align: center;
  background-color: yellow;
  width: 30%;
  height: 20px;
  position: relative;
  left: 35%;
  top: -12px;
  font-size: 12.5px;
  border: 1px solid black;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** desktop version **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    border: 1px solid black;
  }

  .col-lg-3 {
    width: 32.9%;
    height: 100px;
  }
  
}


/********** tablet version**********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: right;
    border: 1px solid black;

  }
  .col-md-6 {
    float: left;
    border: 1px solid black;;

  }

  .col-md-12 {

    width: 99.5%;


  }

  .col-md-6 {

    width: 49.47%;
    height: 85px;

  }
}
/********** mobile version **********/
@media (max-width: 767px) {
.col-sm-12 {
    float: left;
    border: 1px solid black;
  }
  
  .col-sm-12 {

    width: 100%;
  }
  }
