
body {
  font-size: 16px;
  color: whitesmoke;
  background-color: darkred;
}

/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: sans-serif;
  color: ghostwhite;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px darkred;
  margin: 0px;

  line-height: 0;

}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.container {
  padding: 2px;
  border: 1px;
  margin: 10px;


}
h1 {
  font-size: 50px;
  font-family: 'Tangerine', cursive;
  margin-bottom: 15px;


}
h2 {
  font-size: 30px;
  font-family: 'Tangerine', cursive;
  margin-bottom: 15px;
  
}

#p1{

  text-align: justify;
}

#texto {
  padding: 10px;
  margin: 10px 10px 10px 10px;
  background-color: orange;
}

#a1{
  background-color: yellow;
}
#a2{
  background-color: greenyellow;
}
#a3{
  background-color: yellowgreen;
}